/* Decent Defaults */

img,
video {
  width: 4rem;
  height: auto;
}
/* GENERAL Styles*/
body {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}

article.card {
  max-width: 60rem;
  text-align: left;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;

}

}
article.card img {
  align: center;

}
article.card h1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}
article.card a {
  border-radius: 1.5rem;
  background-color: white;
  /* margin-bottom: 2rem; */
  /* max-width: 6rem; */
  border: none;
  padding: 0.5rem;
  max-width: 75%;
  text-align: center;
  margin-top: auto;
}

article.card section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

/* Mobile Only */
@media (max-width: 40em) {
  article.card {
    flex-direction: column;
  }
}

/* Desktop Only */
@media (min-width: 40em) {
  article.card {
    flex-direction: row;
  }

  
}

/* Sedans */
article.card section.sedans h1 {
  color: white;
}
article.card section.sedans a {
  color: hsl(31, 77%, 52%);
}
article.card section.sedans {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

/* SUVS */

article.card section.suvs h1 {
  color: white;
}
article.card section.suvs {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
article.card section.suvs a {
  color: hsl(184, 100%, 22%);
}

article.card section.luxury h1 {
  color: white;
}

/* Luxury */

article.card section.luxury {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
article.card section.luxury a {
  color: hsl(179, 100%, 13%);
}
