/* Decent Defaults */

img,
video {
  width: 4rem;
  height: auto;
}
/* GENERAL Styles*/

article.card {
  text-align: left;
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
article.card p,
h1,
img,
button {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "lexend_deca";
}
article.card img {
  align: center;
  margin-top: 1rem;
}
article.card h1 {
  font-weight: 700;
  font-size: 2rem;
  font-family: sans-serif;
  letter-spacing: -0.1rem;
}
article.card button {
  border-radius: 1.5rem;
  background-color: white;
  margin-bottom: 2rem;
  max-width: 6rem;
  border: none;
  padding: 0.5rem;
}

article.card section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mobile Only */
@media (max-width: 40em) {
  article.card {
    flex-direction: column;
  }
  article.card section.sedans {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  article.card section.luxury {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

/* Desktop Only */
@media (min-width: 40em) {
  article.card {
    flex-direction: row;
  }

  article.card section.sedans {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  article.card section.luxury {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  article.card button {
    margin-top: 2rem;
  }
}

/* Sedans */
article.card section.sedans h1 {
  color: white;
}
article.card section.sedans button {
  color: hsl(31, 77%, 52%);
}
article.card section.sedans {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

/* SUVS */

article.card section.suvs h1 {
  color: white;
}
article.card section.suvs {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
article.card section.suvs button {
  color: hsl(184, 100%, 22%);
}

article.card section.luxury h1 {
  color: white;
}

/* Luxury */

article.card section.luxury {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
article.card section.luxury button {
  color: hsl(179, 100%, 13%);
}
